aniso8601==1.2.1
-e git+git@github.com:awm33/api-gateway.git@03df40608a07806ed53a45c96043eef52d2fa7a9#egg=api_gateway&subdirectory=api
appdirs==1.4.3
argon2-cffi==16.3.0
arrow==0.10.0
boto3==1.4.4
botocore==1.5.56
cffi==1.10.0
click==6.7
docutils==0.13.1
Flask==0.12.2
Flask-Cors==3.0.2
Flask-Login==0.4.0
Flask-RESTful==0.3.6
Flask-SQLAlchemy==2.2
Flask-WTF==0.14.2
itsdangerous==0.24
Jinja2==2.9.6
jmespath==0.9.2
MarkupSafe==1.0
marshmallow==2.13.5
marshmallow-sqlalchemy==0.13.1
netaddr==0.7.19
packaging==16.8
passlib==1.7.1
psycopg2==2.7.1
py==1.4.34
pycparser==2.17
pyparsing==2.2.0
pytest==3.1.2
python-dateutil==2.6.0
pytz==2017.2
restful-ben==0.0.1
s3transfer==0.1.10
six==1.10.0
SQLAlchemy==1.1.11
Werkzeug==0.12.2
WTForms==2.1
